{% if 'posts' == site.tiles-source %}
    {% assign tiles = site.posts %}
{% elsif 'pages' == site.tiles-source %}
    {% assign tiles = site.html_pages | where_exp: "item", "item.show_tile != false" %}
{% endif %}


  <style>
    .image-container {
      /* width: 300px; */
      /* height: 200px; */
      background-color:7d7d7d
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }

    .image-container img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  </style>


<section id="one" class="tiles">
  {% for tile in tiles limit:site.tiles-count %}
  <article>
    <span class="image-container">
      <img src="{{ tile.image }}" alt="{{ tile.title }}" />
    </span>
    <header class="major">
      <h3><a href="{{ tile.url  | relative_url }}" class="link">{{ tile.title }}</a></h3>
      <p>{{ tile.description }}</p>
    </header>
  </article>
  {% endfor %}
</section>
